*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
    height: 75px;
    background-color: rgb(6, 114, 114);
    color: white;
}
#main article{
    width: 90%;
    height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu ul{
    width: 500px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
#menu ul li:hover{
    color: black;
    transform: scale(1,1);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#menu ul li a{
    background-color: aqua;
}
